<div>
    <label>Question Title</label>
    <input id ="questionTitle" class="form-control" value="{{selectedQuestion.title}}" disabled>
</div>
<div>
    <label>Content</label>
    <textarea id="questionContent" class="form-control" disabled>
        {{selectedQuestion.content}}
    </textarea>
</div>

<div>
    <button (click)="deleteQuestion(selectedQuestion.id)" *ngIf="isOwner" class="btn btn-danger">Delete this question</button>
</div>
<div>
    <button (click)="editQuestion(selectedQuestion.id)" *ngIf="isOwner" class="btn btn-warning">Edit this question</button>
    <button (click)="saveEditedQuestion()" *ngIf="isOwner" class="btn btn-success">Save</button>
</div>
