<div class="container-fluid">
  <h1>Login</h1>

  <!-- Alert Tag for loginError (Default is none)-->
  <div style="display: none" id="loginError" class="alert alert-danger">
    <strong>Warning!</strong> Please check your password and username
  </div>


  <!-- Input fields-->
  <div>
    <label for="username">Username</label>
    <input [(ngModel)]="username" id="username" placeholder="Username" class="form-control">
  </div>
  <div>
    <label for="password">Password</label>
    <input [(ngModel)]="password" id="password" type="password" placeholder="Password" class="form-control">
  </div>
  <div>
    <button (click)="login(username, password)" class="btn btn-primary form-control">Login</button>
  </div>
  <div>
    <a href="#">Forgot Password</a>
  </div>
</div>
