<div>
  <h2>Welcome {{currentUser.username}}</h2>

  <div>
    <label for="username">Username</label>
    <input id="username" value={{currentUser.username}} disabled="disabled" class="form-control">
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" value={{currentUser.email}} disabled="disabled" class="form-control">
  </div>

  <h2>Courses Enrolled</h2>
  <div>
    <ul class="list-group">
      <li *ngFor="let course of currentUser.courses" class="list-group-item">
        {{course.name}}
      </li>
    </ul>
  </div>

  <!--  Course Enroll Form-->
  <h2>Enroll or Create Course</h2>

  <div>
    <label>School</label>
    <select ngModel (ngModelChange)="selectSchool($event)" class="form-control">
      <option value="" selected disabled hidden>--select here--</option>

      <option *ngFor="let school of schools"
              [ngValue]="school">
        {{school.name}}
      </option>
    </select>
  </div>

  <div>
    <label>Major</label>
    <select ngModel (ngModelChange)="selectMajor($event)" class="form-control">
      <option value="" selected disabled hidden>--select here--</option>

      <option *ngFor="let major of selectedSchool.majors">
        {{major.name}}
      </option>
    </select>
  </div>

  <div>
    <label>Course</label>
    <select ngModel (ngModelChange)="selectCourse($event)" class="form-control">
      <option value="" selected disabled hidden>--select here--</option>

      <option *ngFor="let course of selectedMajor.courses">
        {{course.name}}
      </option>
    </select>
  </div>

  <div>
    <label>Roll</label>
    <select ngModel (ngModelChange)="selectRoll($event)" class="form-control">
      <option value="" selected disabled hidden>--select here--</option>
      <option value="Professor">Professor</option>
      <option value="TA">TA</option>
      <option value="Student">Student</option>
    </select>
  </div>

  <div style="display: none" id="isProfessor">
    <label>Add Course Here</label>
    <input [(ngModel)]="newCourse" id="newCourse" placeholder="Create New Course" class="form-control">
    <button (click)="createCourse(newCourse)" class="form-control btn btn-info">Create</button>
  </div>

  <!-- Add create course field once you selected professor -->

  <div>
    <button (click)="enroll(selectedCourse)" class="form-control btn btn-success">Enroll</button>
  </div>
</div>

